version: "3.8"

services:
  wordpress:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - wordpress-files:/var/www/html
    environment:
      SERVICE_URL_WORDPRESS: ${SERVICE_URL_WORDPRESS}
      WORDPRESS_DB_HOST: mariadb
      WORDPRESS_DB_USER: ${SERVICE_USER_WORDPRESS}
      WORDPRESS_DB_PASSWORD: ${SERVICE_PASSWORD_WORDPRESS}
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_CONFIG_EXTRA: |
        define('WP_REDIS_HOST', 'redis');
        define('WP_REDIS_PORT', 6379);
        define('WP_CACHE_KEY_SALT', 'tudominio.com');
        define('WP_CACHE', true);
    depends_on:
      - mariadb
      - redis
    healthcheck:
      test:
        - CMD
        - curl
        - "-f"
        - "http://127.0.0.1"
      interval: 2s
      timeout: 10s
      retries: 10

  mariadb:
    image: mariadb:11
    volumes:
      - mariadb-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${SERVICE_PASSWORD_ROOT}
      MYSQL_DATABASE: wordpress
      MYSQL_USER: ${SERVICE_USER_WORDPRESS}
      MYSQL_PASSWORD: ${SERVICE_PASSWORD_WORDPRESS}
    healthcheck:
      test:
        - CMD
        - healthcheck.sh
        - "--connect"
        - "--innodb_initialized"
      interval: 5s
      timeout: 20s
      retries: 10

  redis:
    image: redis:7
    volumes:
      - redis-data:/data

volumes:
  wordpress-files:
  mariadb-data:
  redis-data: